

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <section id="footer">
    <div class="container">
      <div class="row text-center text-xs-center text-sm-left text-md-left">
        <div class="col-xs-12 col-sm-4 col-md-4">
          <h5>CATALYSTFLOW ENGINE</h5>
         <p style="color: white;">Welcome to <b>CATALYSTFLOW ENGINE</b>, your one-stop solution for precise boiler energy balance. Enter details, get automated calculations, and download a personalized PDF report with valuable insights. Elevate your energy management effortlessly with us.</p>
        </div>
        
        <div class="col-xs-12 col-sm-4 col-md-4 right-column">
          <h5>Quick links</h5>
          <ul class="list-unstyled quick-links">
            <li><a href=""><i class="fa fa-angle-double-right"></i>Home</a></li>
            <li><a href=""><i class="fa fa-angle-double-right"></i>Steps</a></li>
          </ul>
        </div>
      </div>
      
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
          
          <p class="h6">&copy All right Reversed.<a class="text-green ml-2">IEEE</a></p>
        </div>
        
      </div>  
    </div>
  </section>
