      <!-- Start Landing Page -->
      <div class="landing-page">
        <header>
          <div class="container">
            <a href="#" class="logo">CatalystFlow  <b>Engine</b></a>
            <ul class="links">
              <li>Home</li>
              <li>Steps</li>
              <a routerLink="/bilan" style="text-decoration: none;"><li>Get Started</li></a>
            </ul>
          </div>
        </header>
        <div class="content">
          <div class="container">
            <div class="info">
              <h1> Unleash the Power of Boiler Chemistry</h1>
              <p>LIgnite efficiency with CatalystFlow Engine, your catalyst for precision in boiler energy chemistry calculations.</p>
              <button routerLink="/bilan"> Get Started</button>
            </div>
            <div class="image">
              <img src="../../../assets/beaker chemistry-amico.png" width="1000">
            </div>
          </div>
        </div>
      </div>
    
    