
<body>
    <ul class="process">
        <li class="process__item">
          <span class="process__number">1</span>
          <span class="process__title"> Enter Boiler Parameters</span>
          <span class="process__subtitle">Input the essential parameters for your boiler system. Fill in details such as fuel type, operating pressure, temperature, and any other relevant information.</span>
        </li>
      
        <li class="process__item">
          <span class="process__number">2</span>
          <span class="process__title">Precision Calculations</span>
          <span class="process__subtitle">
            Let our advanced algorithms process your inputs, perform detailed energy balance calculations, and give you a comprehensive overview of your boiler's chemistry.</span>
        </li>
      
        <li class="process__item">
          <span class="process__number">3</span>
          <span class="process__title">Download Your Boiler Report</span>
          <span class="process__subtitle">Download your personalized PDF report for valuable insights, recommendations, and a detailed breakdown of your boiler's chemistry. Keep it for reference or share it with your team for informed decision-making.</span>
        </li>
      
        
      </ul>    
  </body>
  
  