/* Neo-Brutalist Style - Because beauty is overrated. */

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

*,
*::before,
*::after {
	box-sizing: border-box;
}

::selection {
	background: #333;
	color: #eee;
}

body {
	font-family: "IBM Plex Mono", monospace;
	color: #333;
	margin: 0;
	position: relative;
	line-height: 1.5em;
	font-size: 15px;
	background: repeating-linear-gradient(
		45deg,
		#aaa,
		#aaa 2px,
		#ccc 2px,
		#ccc 6px
	);
	background-attachment: fixed;
}

.dashboard input{
	font-family: "IBM Plex Mono", monospace;
}
.dashboard {
	display: grid;
	grid-template-columns: repeat(6, 15.25%);
	grid-gap: 0 1.67%;
	margin: 0px auto;
	padding: 20px;
	border: 2px solid;
	width: 1000px;
	max-width: calc(100% - 40px);
	background: #ddd;
	box-shadow: 1px 1px, 2px 2px, 3px 3px, 4px 4px;
}

.dashboard > div {
	margin-bottom: 20px;
	padding: 15px;
	background-color: #f7f7f7;
	border: 2px solid;
	grid-column: 1 / 7;
	box-shadow: inherit;
}

.dashboard > div:hover {
	background: #fff;
	color: black;
}

.dashboard > div:last-of-type {
	margin-bottom: 5px;
}

.table-wrap {
	max-width: 100%;
	overflow-x: auto;
}

h2 {
	font-size: 1.5em;
	line-height: 1.1em;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	margin-top: 0;
	padding: 5px 10px;
	margin-bottom: 15px;
	border-bottom: 2px solid;
	position: relative;
}

h2::before,
h2::after {
	content: "";
	position: absolute;
	bottom: -2px;
	width: 15px;
	height: 100%;
	left: -15px;
	border: 2px solid;
	border-left: none;
	vertical-align: text-bottom;
}

h2::after {
	left: unset;
	right: -15px;
	border-right: none;
	border-left: 2px solid;
}

table {
	width: 100%;
	border-collapse: collapse;
}

th,
td {
	border: 2px solid #333;
	padding: 8px;
	text-align: left;
}

tr:hover td {
	background: #eee;
}

th {
	background-color: #666;
	color: #fff;
}

ul {
	list-style-type: none;
	padding: 0;
}

li {
	padding: 5px 0;
	border-bottom: 2px solid;
}



.profile {
	text-align: center;
}

.profile h2 {
	font-size: 2em;
	padding-bottom: 10px;
	border: none;
}

.profile p {
	font-size: 1.25em;
	font-style: italic;
	margin-bottom: 10px;
}

.dashboard .activity-feed li {
	font-style: italic;
}



@media (min-width: 767px) {
	.dashboard .table-one {
		grid-column: 1 / 7;
	}
	.dashboard .table-two {
		grid-column: 1/ 7;
	}
	.dashboard .table-three {
		grid-column: 1 / 7;
	}
	.dashboard .table-four {
		grid-column: 1 / 7;
	}
	
	
	
}


.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background: none;
    color: #0f1923;
    cursor: pointer;
    position: relative;
    padding: 8px;
	margin-top: 30px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    transition: all .15s ease;
    float: right; /* Add this line */
}

  
  .button::before,
  .button::after {
	content: '';
	display: block;
	position: absolute;
	right: 0;
	left: 0;
	height: calc(50% - 5px);
	border: 1px solid #7D8082;
	transition: all .15s ease;
  }
  
  .button::before {
	top: 0;
	border-bottom-width: 0;
  }
  
  .button::after {
	bottom: 0;
	border-top-width: 0;
  }
  
  .button:active,
  .button:focus {
	outline: none;
  }
  
  .button:active::before,
  .button:active::after {
	right: 3px;
	left: 3px;
  }
  
  .button:active::before {
	top: 3px;
  }
  
  .button:active::after {
	bottom: 3px;
  }
  
  .button_lg {
	position: relative;
	display: block;
	padding: 10px 20px;
	color: #fff;
	background-color: #000000;
	overflow: hidden;
	box-shadow: inset 0px 0px 0px 1px transparent;
  }
  
  .button_lg::before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 2px;
	height: 2px;
	background-color: #0f1923;
  }
  
  .button_lg::after {
	content: '';
	display: block;
	position: absolute;
	right: 0;
	bottom: 0;
	width: 4px;
	height: 4px;
	background-color: #6d6e6e;
	transition: all .2s ease;
  }
  
  .button_sl {
	display: block;
	position: absolute;
	top: 0;
	bottom: -1px;
	left: -8px;
	width: 0;
	background-color: #868686;
	transform: skew(-15deg);
	transition: all .2s ease;
  }
  
  .button_text {
	position: relative;
  }
  
  .button:hover {
	color: #0f1923;
  }
  
  .button:hover .button_sl {
	width: calc(100% + 15px);
  }
  
  .button:hover .button_lg::after {
	background-color: #fff;
  }
  


  .Download-btn {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background: none;
    color: #0f1923;
    cursor: pointer;
    position: relative;
    padding: 8px;
    margin-bottom: 10px;
	margin-top: 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    transition: all .15s ease;
    float: right; /* Add this line */
}

  
  .Download-btn::before,
  .Download-btn::after {
	content: '';
	display: block;
	position: absolute;
	right: 0;
	left: 0;
	height: calc(50% - 5px);
	border: 1px solid #7D8082;
	transition: all .15s ease;
  }
  
  .Download-btn::before {
	top: 0;
	border-bottom-width: 0;
  }
  
  .Download-btn::after {
	bottom: 0;
	border-top-width: 0;
  }
  
  .Download-btn:active,
  .Download-btn:focus {
	outline: none;
  }
  
  .Download-btn:active::before,
  .Download-btn:active::after {
	right: 3px;
	left: 3px;
  }
  
  .Download-btn:active::before {
	top: 3px;
  }
  
  .Download-btn:active::after {
	bottom: 3px;
  }
  
  .Download-btn_lg {
	position: relative;
	display: block;
	padding: 10px 20px;
	color: #fff;
	background-color: #000000;
	overflow: hidden;
	box-shadow: inset 0px 0px 0px 1px transparent;
  }
  
  .Download-btn_lg::before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 2px;
	height: 2px;
	background-color: #0f1923;
  }
  
  .Download-btn_lg::after {
	content: '';
	display: block;
	position: absolute;
	right: 0;
	bottom: 0;
	width: 4px;
	height: 4px;
	background-color: #6d6e6e;
	transition: all .2s ease;
  }
  
  .Download-btn_sl {
	display: block;
	position: absolute;
	top: 0;
	bottom: -1px;
	left: -8px;
	width: 0;
	background-color: #868686;
	transform: skew(-15deg);
	transition: all .2s ease;
  }
  
  .Download-btn_text {
	position: relative;
  }
  
  .Download-btn:hover {
	color: #0f1923;
  }
  
  .Download-btn:hover .Download-btn_sl {
	width: calc(100% + 15px);
  }
  
  .Download-btn:hover .Download-btn_lg::after {
	background-color: #fff;
  }
  

  